.navbar {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}

.navbar a {
    color: white;
}
